body {
  background-color: #097570;
  padding: 5px;
}
button {
  background-color: aliceblue;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 10px;
  color: #bae8e8;
  text-align: right;
}
form {
  text-align: right;
  padding: 1px 2px;
  margin: 60 px auto 0 auto;
  width: 200px;
}
h1 {
  text-align: center;
  color: #1aaad2;
}
h2 {
  text-align: center;
  color: #155263;
}
h5 {
  padding: 2px;
}
p {
  text-align: center;
  font-weight: thin;
}
.row {
  font-weight: bold;
  border-radius: 5px;
}
.card {
  padding: -5px;
  background-color: #bae8e8;
  max-width: 300px;
  margin: 0 auto;
}
