body {
  background-color: #e3f6f5;
  padding: 5px;
}
button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
form {
  text-align: right;
  padding: 1px 2px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #155263;
}
h2 {
  text-align: center;
  color: #155263;
}
h5 {
  padding: 2px;
}
p {
  text-align: center;
  font-weight: thin;
}
.row {
  font-weight: bold;
}
.card {
  padding: -5px;
  background-color: #bae8e8;
  max-width: 300px;
  margin: 0 auto;
}
